:root{
  --padding-container: 3% 5%;
  --text-center: center;
  --d-flex: flex;
}

/* currency page styles */

.exRatesTitle, #exchange-form{
  padding: var(--padding-container);
}

.exRatesTitle{
  text-align: var(--text-center);
}

.form-er{
  display: var(--d-flex);
  align-items: center;
  justify-content: center;
}

#exchange-form{
  display: grid;
  width: 400px;
  height: 100px;
  grid-gap: 6px;
  grid-template-areas: 
  'bl ba ba ba b b'
  'cl c c . . .'
  '. . erBtn erBtn . .';
}

.base-label{
  grid-column: 1 / span 1;
  grid-area: bl;
}

#baseAmount{
  grid-column: 2 / span 2;
  grid-area: ba;
}

#base{
  grid-area: b;
}

.convertTo-label{
  grid-area: cl;
}

#convert{
  grid-area: c;
}

#exchange-rates{
  grid-area: erBtn;
}

.show-rates{
  display: var(--d-flex);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* coverter page styles */
#converter-body{
  background-image: linear-gradient(to bottom right, white 70%, rgb(218, 218, 218));
  background-repeat: no-repeat;
  min-height: 100vh;
}

.converter-container{
  display: var(--d-flex);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.converter-title{
  margin: var(--padding-container);
}

.converter-card{
  display: grid;
  height: 85%;
  width: 90%;
  grid-gap: 15px;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  margin: 0 5% 3%;
}

.card{
  display: var(--d-flex);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .3);
  padding: 4%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .1);
}

.card:hover{
  box-shadow: 5px 5px 3px 2px rgba(0, 0, 0, .5);
  transition: .2s;
}

@media (max-width: 920px){
  .converter-card{
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }
}

@media (max-width: 750px){
  .converter-card{
    grid-template: repeat(6, 1fr) / 1fr;
    height: 70%;
    width: 75%;
  }
}